<section class="lp-header rounded">
    <p class="name">Arjun Mourya B R</p>
</section>

<div class="container-fluid">
    <div class="row lp-container">
        <div class="col-9 ">
            <div class="row">
                <div class="col-12 subdiv mb-2">
                    <span class="section-title mb-4">Professional summary</span><br/>
                    <div class="mt-2">
                        <span class="section-content mb-5">As an IT professional with conversance in software engineering and development, I align my technical skills with business objectives and organizational goals. This in-turn helps in achieving YOY growth, ROI, client satisfaction. Involved to translate business requirements into technical (front-end & back-end) implementation which has contributed to rolling out the desired product within stipulated time.
                            I began my career in hands-on software engineering roles and increased my scope to provide technical guidance and serve as liaison between UX designer and fellow developers.
                        </span>
                    </div>                    
                </div>
            </div>            
            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        <span>NeuralMetrics Pvt. Ltd/D4 Insight Pvt. Ltd</span>
                    </div>
                    <div class="card-body">
                        <span class="card-title">Technical Consultant – UI / Asp.Net Core</span>
                        <div class="card-text mt-2 mb-3">
                            <span>May/2020 - Present </span>
                        </div>
                        <a class="btn btn-primary btn-xs" (click)="showSlider('NM')">More Details...</a>
                        <!-- <a href="#" style="font-size:10px;">More Details...</a> -->
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <span>Epicor</span>
                    </div>
                    <div class="card-body">
                        <span class="card-title">Senior Software Developer</span>
                        <div class="card-text mt-2 mb-3">
                            <span>Jan/2019 – Apr/2020</span>
                        </div>
                        <a class="btn btn-primary btn-xs" (click)="showSlider('epicor')">More Details...</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <span>Tavant Technologies</span>
                    </div>
                    <div class="card-body">
                        <span class="card-title">Senior Software Engineer</span>
                        <div class="card-text mt-2 mb-3">
                            <span>Jul/2016 – Dec/2018</span>
                        </div>
                        <a class="btn btn-primary btn-xs" (click)="showSlider('tavant')">More Details...</a>
                    </div>                    
                </div>                                
            </div>
            <div class="card-deck mt-2">
                <div class="card">
                    <div class="card-header">
                        <span>MindTree Ltd.</span>
                    </div>
                    <div class="card-body">
                        <span class="card-title">Module Lead</span>
                        <div class="card-text mt-2 mb-3">
                            <span>Jan/2015 - Jul/2016</span>
                        </div>
                        <a  class="btn btn-primary btn-xs" (click)="showSlider('mindtree')">More Details...</a>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="card-header">
                        <span>Techsoft Technologies India Pvt. Ltd.</span>
                    </div>
                    <div class="card-body">
                        <span class="card-title">Senior Software Engineer</span>
                        <div class="card-text mt-2 mb-3">
                            <span>Nov/2013 - Dec/2014</span>
                        </div>
                        <a  class="btn btn-primary btn-xs" (click)="showSlider('ttipl')">More Details...</a>
                    </div>                    
                </div>
                <div class="card">
                    <div class="card-header">
                        <span>Tech Mahindra Ltd</span>
                    </div>
                    <div class="card-body">
                        <span class="card-title">Senior Software Engineer</span>
                        <div class="card-text mt-2 mb-3">
                            <span>Jan/2011 - Oct/2013</span>
                        </div>
                        <a class="btn btn-primary btn-xs" (click)="showSlider('techM')">More Details...</a>
                    </div>                    
                </div>                                
            </div>
        </div>
        <div class="col-3 ">
            <div class="row ml-n2">
                <div class="col-12 subdiv mb-2">
                    <span class="section-title mb-4">Contact Info</span>
                    <div class="section-content mb-3 mt-2">
                        <div class="row mt-2">
                            <div class="col-1">
                                <div class="icon-container">
                                    <span class="material-icons md-10 md-light">phone</span>
                                </div>
                            </div>
                            <div class="col-11">
                                <span>+91.973.836.8625</span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-1">
                                <div class="icon-container">
                                    <span class="material-icons md-10 md-light">email</span>
                                </div>
                            </div>
                            <div class="col-11">
                                <span>arjunmourya88@gmail.com</span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-1">
                                <div class="icon-container">
                                    <span class="material-icons md-10 md-light">home</span>
                                </div>
                            </div>
                            <div class="col-11">
                                <span>21,4th cross, New bank Colony, Konanakunte, Bangalore, Karnataka, India</span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-1">
                                <div class="icon-container">
                                    <span class="social-media-icon">in</span>
                                </div>
                            </div>
                            <div class="col-11">
                                <span>www.linkedin.com/in/arjun-mourya-lin</span>
                            </div>
                        </div>
                    </div>
                    <span class="section-title">Skills</span>
                    <div class="section-content mb-3 mt-2">
                        <section>
                            <span>Professional</span><br/>
                            <span>Oral and written Communication</span><br/>
                            <span>1-on-1 Client Calls</span>
                        </section>
                        <section class="mt-4">
                            <span>Technical</span><br/>
                            <span>Angular 2+</span><br/>
                            <span>Asp.Net Core Web API</span>
                        </section>
                    </div>
                    <span class="section-title">Education</span>
                    <div class="section-content mb-3 mt-2">
                        <span>BE in Computer Science</span><br/>
                        <span>VTU, Belgaum, Karnataka,India </span><br/>
                        <span>Aug/2006 – Jun/2010</span>
                    </div>
                    <span class="section-title">ACHIEVEMENTS</span>
                    <div class="section-content mb-3 mt-2">
                        <span>Received “Pat on the Back” award</span><br/>                        
                    </div>
                    <span class="section-title">LANGUAGES & OTHER INTERESTS</span>
                    <div class="section-content mt-2">
                        <span>English, Kannada, Hindi</span><br/>
                        <span>Travel</span>                       
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    
