<div class="timeline">
    <div class="outer">
        <div class="timeline-card">
            <div class="info">
                <h3 class="title">
                    Title 1
                </h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, dignissimos! Inventore facere consequuntur eos perspiciatis, 
                    nisi tempora cupiditate minus veniam molestiae quia error harum delectus praesentium possimus dignissimos? Eius, possimus.
                </p>
            </div>
        </div>
        <div class="timeline-card">
            <div class="info">
                <h3 class="title">
                    Title 2
                </h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, dignissimos! Inventore facere consequuntur eos perspiciatis, 
                    nisi tempora cupiditate minus veniam molestiae quia error harum delectus praesentium possimus dignissimos? Eius, possimus.
                </p>
            </div>
        </div>
        <div class="timeline-card">
            <div class="info">
                <h3 class="title">
                    Title 3
                </h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, dignissimos! Inventore facere consequuntur eos perspiciatis, 
                    nisi tempora cupiditate minus veniam molestiae quia error harum delectus praesentium possimus dignissimos? Eius, possimus.
                </p>
            </div>
        </div>
        <div class="timeline-card">
            <div class="info">
                <h3 class="title">
                    Title 4
                </h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, dignissimos! Inventore facere consequuntur eos perspiciatis, 
                    nisi tempora cupiditate minus veniam molestiae quia error harum delectus praesentium possimus dignissimos? Eius, possimus.
                </p>
            </div>
        </div>
        <div class="timeline-card">
            <div class="info">
                <h3 class="title">
                    Title 5
                </h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, dignissimos! Inventore facere consequuntur eos perspiciatis, 
                    nisi tempora cupiditate minus veniam molestiae quia error harum delectus praesentium possimus dignissimos? Eius, possimus.
                </p>
            </div>
        </div>
    </div>
</div>